@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap');

::selection {
  background-color: transparent;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://user-images.githubusercontent.com/67122062/109351926-aadfd280-783f-11eb-92bd-875ca5e1105a.png");
}

h1, h2 {
  font-family: 'Orbitron', sans-serif;
  font-weight: 500;
}

h3 {
  margin-top: 20px;
  font-family: 'Orbitron', sans-serif;
  font-weight: 300;
}

.hide {
  display: none;
}

.tamagotchi {
  width: 100%;
  font-size: 80px;
  text-align: center;
  padding-top: 5%;
}

button {
  font-size: 10px;
  border: 2px solid #96808a;
  padding: 10px 20px;
  margin: 100px 20px 0px 20px;
  text-decoration: none;
  color: #0e0d15;
  font-weight: 300;
  font-family: 'Orbitron', sans-serif;
}

button:hover {
  background-color: #e11e85;
  color: #f3e927;
}

.card {
  font-family: 'Orbitron', sans-serif;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
}

.hp span {
  font-weight: 500;
}
