@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

#ice, #goth, #surf, #url-form-btn {
  font-size: 14px;
  border: 2px solid #96808a;
  padding: 10px 20px;
  margin: 10px 20px 0px 20px;
  text-decoration: none;
  background-color: #e11e85;
  color: #f3e927;
  font-weight: 300;
  font-family: 'Orbitron', sans-serif;
}
